[submodule "simple_vulkan_synchronization"]
	path = external/simple_vulkan_synchronization
	url = https://github.com/Tobski/simple_vulkan_synchronization/
[submodule "VulkanMemoryAllocator-Hpp"]
	path = external/VulkanMemoryAllocator-Hpp
	url = https://github.com/YaaZ/VulkanMemoryAllocator-Hpp/
[submodule "tony-mc-mapface"]
	path = external/tony-mc-mapface
	url = https://github.com/h3r2tic/tony-mc-mapface/
[submodule "tinyobjloader"]
	path = external/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "external/dbg-macro"]
	path = external/dbg-macro
	url = https://github.com/sharkdp/dbg-macro
[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
